[submodule "spark-on-k8s-operator"]
	path = spark-on-k8s-operator
	url = git@github.com:mesosphere/spark-on-k8s-operator.git
[submodule "shared"]
	path = shared
	url = git@github.com:mesosphere/data-services-kudo.git
