apiVersion: v1
kind: Service
metadata:
  name: spark-operator-metrics
  labels:
    "spark/servicemonitor": "true"
spec:
  ports:
    - port: 10254
      name: metrics
  clusterIP: None
  selector:
    "app.kubernetes.io/name": spark
---
apiVersion: v1
kind: Service
metadata:
  name: spark-application-metrics
  labels:
    "spark/servicemonitor": "true"
spec:
  ports:
    - port: 8090
      name: metrics
  clusterIP: None
  selector:
    "metrics-exposed": "true"
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app: prometheus-operator
    release: prometheus-kubeaddons
  name: spark-cluster-monitor
spec:
  endpoints:
    - interval: 5s
      port: metrics
  selector:
    matchLabels:
      spark/servicemonitor: "true"
