apiVersion: "sparkoperator.k8s.io/v1beta2"
kind: SparkApplication
metadata:
  name: SPARK_APP_NAME
spec:
  type: Scala
  mode: cluster
  image: mesosphere/spark:spark-3.0.0-hadoop-2.9-k8s
  imagePullPolicy: Always
  mainClass: MockTaskRunner
  mainApplicationFile: "https://kudo-spark.s3-us-west-2.amazonaws.com/spark-scala-tests-3.0.0-20200819.jar"
  arguments:
    - "NUM_TASKS"
    - "TASK_DURATION_SEC"
  sparkConf:
    "spark.scheduler.maxRegisteredResourcesWaitingTime": "2400s"
    "spark.scheduler.minRegisteredResourcesRatio": "1.0"
  sparkVersion: "3.0.0"
  restartPolicy:
    type: Never
  driver:
    cores: 1
    memory: "2g"
    labels:
      version: 3.0.0
      metrics-exposed: "true"
    serviceAccount: spark-service-account
  executor:
    cores: 1
    instances: NUM_EXECUTORS
    memory: "1g"
    labels:
      version: 3.0.0
      metrics-exposed: "true"
  monitoring:
    exposeDriverMetrics: true
    exposeExecutorMetrics: true
    prometheus:
      jmxExporterJar: "/prometheus/jmx_prometheus_javaagent-0.11.0.jar"
      port: 8090
